@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F7F5EE;
}

*, ::after, ::before {
  box-sizing: border-box;
  letter-spacing: normal;
  border: 0 solid #e5e7eb;
}

html {
  line-height: 1.5;
  font-family: Inter,Segoe UI,Helvetica Neue,sans-serif;
  font-feature-settings: normal;
  font-variation-settings: normal;
}

body {
  background: var(--background);
  margin: 0;
  line-height: inherit;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.logo {
  width: 32px;
  height: 18px;
  display: inline;
}

.burger-icon,
.close-icon {
  width: 20px;
  height: 20px;
}
